<div class='game'>
  <a href="{{id}}">
    <div class=teamscore>{{homeTeam}} <span class=score>{{homeScore}}</span></div>
    <div class=teamscore>{{awayTeam}} <span class=score>{{awayScore}}</span></div>
  </a>
</div>
